[submodule "hku-mars_FAST_LIO"]
	path = hku-mars_FAST_LIO
	url = https://github.com/TransMisiones-Centauro/hku-mars_FAST_LIO.git
[submodule "FAST_LIO_SLAM_ros2"]
	path = FAST_LIO_SLAM_ros2
	url = https://github.com/TransMisiones-Centauro/FAST_LIO_SLAM_ros2.git
