[submodule "hku-mars_FAST_LIO"]
	path = hku-mars_FAST_LIO
	url = https://github.com/TransMisiones-Centauro/hku-mars_FAST_LIO.git
[submodule "FAST_LIO_SLAM_ros2"]
	path = FAST_LIO_SLAM_ros2
	url = https://github.com/TransMisiones-Centauro/FAST_LIO_SLAM_ros2.git
[submodule "FAST_LIO_ROS2"]
	path = FAST_LIO_ROS2
	url = https://github.com/TransMisiones-Centauro/FAST_LIO_ROS2.git
[submodule "point_lio_unilidar"]
	path = point_lio_unilidar
	url = https://github.com/TransMisiones-Centauro/point_lio_unilidar.git
[submodule "Point-LIO"]
	path = Point-LIO
	url = https://github.com/TransMisiones-Centauro/Point-LIO.git
